<p id="notice"><%= notice %></p>

<p>
  <h4><strong>Name:</strong>
  <%= @shop.name %></h4>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @shop.website %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @shop.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @shop.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shop.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shop.phone %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shop.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @shop.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @shop.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @shop.contact_phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shop.notes %>
</p>

<span><h4><b>Manufacturers: </b></h4></span>
<ul>
<% @manufacturers.each do |m| %>
  <li><p><%= m.name %></p></li>
<% end %>
</ul>
<br>
<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
