<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @bike.shop_id %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @bike.manufacturer_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bike.type %>
</p>
<br>
<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
